/* =================
Globals
================= */

:root {
  --color-white: #ffffff;
  --color-black: #121212;
  --color-dark-gray: #282828;
  --color-medium-gray: #383838;
  --color-light-gray: #b3b3b3;
  --color-border: #444444;
  --color-green: #1db954;
  --color-red: #e64c4c;
}

body {
  font-size: 1rem;
  margin: 0;
  color: var(--color-white);
  background-color: var(--color-black);
}

img {
  max-width: 100%;
  display: block;
}
